@font-face {
    font-family: 'Droid Sans';
    src: url('/fonts/droidsans-regular/DroidSans-webfont.eot');
    src: url('/fonts/droidsans-regular/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/droidsans-regular/DroidSans-webfont.woff') format('woff'),
         url('/fonts/droidsans-regular/DroidSans-webfont.ttf') format('truetype'),
         url('/fonts/droidsans-regular/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Droid Sans';
    src: url('/fonts/droidsans-bold/DroidSans-Bold-webfont.eot');
    src: url('/fonts/droidsans-bold/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/droidsans-bold/DroidSans-Bold-webfont.woff') format('woff'),
         url('/fonts/droidsans-bold/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/droidsans-bold/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
