.feed {
	margin-top: 25px;
}

.feed__header {
	@include full;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.feed__list {
	@include full;
}

.feed__list-item {
	@include full;
	height: 60px;
	border-bottom: 2px solid darken($bg, 10%);
	position: relative;

	a {
		width: 100%;
		height: 100%;

		&:hover {
			background: $p;

			.feed__message,
			.feed__date {
				color: $s;
			}
		}
	}
}

.feed__message {
	left: 10px;
	position: absolute;
	top: 20px;
	color: $p;

	.feed__message-bold {
		font-weight: bold;
		text-transform: uppercase;
		font-family: $f1;
		letter-spacing: 1px;
		display: inline;
	}
}

.feed__date {
	right: 10px;
	position: absolute;
	top: 20px;
	color: $p;
}