.search__header {
	@include full;
	margin: 25px 0 20px;
}

.search__input {
	width: 100%;
	font-family: $f1;
	color: $p;
	background: none;
	border: none;
	font-weight: bold;
	font-size: 2.4em;
	text-transform: uppercase;

	&::-webkit-input-placeholder {
		color: $p;
	}

	&:-moz-placeholder {
		color: $p;
	}

	&::-moz-placeholder {
		color: $p;
	}

	&:-ms-input-placeholder {
		color: $p;
	}
}