//Colors
$bg: #f3f3f3;
$w: #ffffff;
$p: #353B43;
$s: #8EE0B8;
$t: #FFDEA0;
$alert: #FF7D7D;

//times
$t-time: .2s;

//Sizes
$max-width: 1400px;
$min-width: 960px;
$border-radius: 3px;
$base-font: 16px;

//Breakpoints
$med: 1140px;

//Fonts
$f1: "Montserrat", Helvetica, sans-serif;
$f2: "Droid Sans", Helvetica, sans-serif;