<template name="artistTemplate">
	<div class="page">
		<div class="artist container">
			<div class="artist__header">
				<div class="artist__header-info">
					<h1 class="artist__name">{{profile.name}}</h1>
					{{>yield "follow-button"}}
					
					{{>yield "upload-button"}}

					<div class="artist__score"><span class="fa fa-arrow-up"></span>{{profile.score}}</div>
				</div>
			</div><!-- end artist header  -->
			<div class="artist__main">
				<div class="artist__sidebar">
					<div class="artist__photo" style="background-image: url('{{profile.picture}}');">
						{{>yield "change-profPic"}}
					</div>

					<ul class="artist__stats">
						<li class="artist__stats-item">
							<div class="artist__stats-title">Shows</div>
							<span class="artist__stats-shows">45</span>
						</li>

						<li class="artist__stats-item">
							<div class="artist__stats-title">Followers</div>
							<span class="artist__stats-followers">45</span>
						</li>

						<li class="artist__stats-item">
							<div class="artist__stats-title">Following</div>
							<span class="artist__stats-following">112</span>
						</li>
					</ul>

					<p class="artist__bio">this is where a mini artist bio would go. kerploosh. anything the artist wants really. punk aint dead.</p>
				</div><!-- end artists sidebar -->

				<div class="artist__shows">
					<div class="artist__shows-filter">
						<div class="artist__filter-title">
							shows by <span class="artist__filter-current"><span class="artist__filter-current-txt">plays</span> <span class="fa fa-bars"></span></span>

							<ul class="artist__filter-list">
							<li class="artist__filter-list-item"><a href="#">score</a></li>
							<li class="artist__filter-list-item"><a href="#">most recent</a></li>
						</ul>

						</div>						
					</div>

					<ul class="artist__shows-list">
						{{#if shows.count}}
							
							{{#each shows}}
								{{> showTemplate}}
							{{/each}}

						{{else}}
								
							<p class="artist__shows-none">{{profile.name}} has no live material on ShowStream.  <a href="#">Nudge them</a> to upload something.</p>

						{{/if}}
					</ul>

				</div><!-- end artist shows -->
			</div><!-- end artist main -->
		</div><!-- end artist -->
	</div> <!-- end page -->

	{{>yield "upload-show"}}

</template>