<template name="uploadShow">
	<div class="upload">
		<div class="upload__inner">
			<div class="upload__header">
				<svg class="upload__close">
					<use xlink:href="#shape-close"></use>
				</svg>
				<h2 class="upload__header-title">Upload Show</h2>
			</div><!-- end upload header -->

			<div class="upload__content">

				<form action="" class="upload__form">
					<div class="upload__form-item">
						<h3 class="upload__form-title">Select Audio File</h3>
						<input class="upload__form-file" id="upload-form-audio" type="file" accept=".mp3">
						<p class="upload__form-file-desc">Audio files must be in <strong>.mp3</strong>. ShowStream is just a prototype, and the final product will accept all major formats.</p>
					</div>

					<div class="upload__form-item">
						<h3 class="upload__form-title">Venue Name</h3>
						<input type="text" id="upload-show-venue">
						<p>We are currently building our venue list. You may not see yours here.</p>
					</div>
					
					<div class="upload__form-item">
						<h3 class="upload__form-title">Date of Show</h3>
						<input type="text" id="upload-show-date">
					</div>
					
					<div class="upload__form-item">
						<h3 class="upload__form-title">Set Your Price</h3>
						<div class="upload__form-price-input">
							<span>$</span>
							<input type="text" id="upload-show-price" value="0">
						</div>	
						<p>How much is this show worth? Between 0-10 dollars, that's for sure.</p>
					</div>

					<div class="upload__form-item">
						<h3 class="upload__form-title">Choose a Background Image</h3>
						<input type="file" class="upload__form-file" id="upload-form-image" accept=".jpg, .png, .gif">
						<p class="upload__form-file-desc">Files must be <strong>less than 500kb</strong> and in <strong>.jpg</strong>, <strong>.png</strong>, or <strong>.gif</strong></p>
					</div>

					<button class="upload__form-next" type="submit">Finish</button>
				</form>

			</div><!-- end upload content -->
		</div><!-- end upload inner -->
	</div><!-- end upload -->
</template>