<template name="showTemplate">
	<li class="show" style="background-image: url('{{image}}');">
		<div class="show__inner">
			
			<div class="show__header">
				<div class="show__score">
					<span class="show__score-icon fa fa-arrow-up"></span>
					<span class="show__score-count">{{score}}</span>
				</div>

				<div class="show__plays">
					<span class="show__plays-icon fa fa-play-circle-o"></span>
					<span class="show__plays-count">{{plays}}</span>
				</div>
				<!-- followers only for artists -->

			</div><!-- end show header -->

			<h3 class="show__name">
				<a href="#" class="show__title-link">
					<span class="show__title-artist">{{artistDisplay}}</span><br>
					at<br>
					<span class="show__title-venue">{{venue}}</span><br>
					<span class="show__title-date">{{date}}</span>
				</a>
			</h3>

			<ul class="show__actions">
				<li class="show__actions-item">
					<a href="/artist/{{artist}}" class="show__actions-view--profile">
						<span class="fa fa-share-square-o"></span>
						<div class="show__actions-title yella">
							<span class="show__actions-title-inner">{{artist}}</span>
						</div>
					</a>
				</li>

				<li class="show__actions-item">
					<a href="#" class="show__actions-vote--up">
						<span class="fa fa-arrow-up"></span>
						<div class="show__actions-title up">
							<span class="show__actions-title-inner">Upvote</span>
						</div>
					</a>
				</li>
				<!-- <li class="show__actions-item">
					<a href="#" class="show__actions-votedown">
						<span class="fa fa-arrow-down"></span>
						<div class="show__actions-title">
							<div class="show__actions-title-inner">Down</div>
						</div>
					</a>
				</li> -->
			</ul><!-- end show actions -->

		</div><!-- end show inner -->
		{{#if usersShow}}
		<div class="show__edit-link">
			<a href="/shows/{{_id}}/edit">Edit</a>
		</div>
		{{/if}}
	</li><!-- end show -->
</template>